{% load i18n %}
<section id = "problems">
  {% for problem in problems %}
  <article class="problem clearfix">
    <div class="problem-description">
      <h1>#{{ forloop.counter }}: <a href="{{ problem.problem.get_absolute_url }}">{{ problem.problem.title }}</a></h1>
      <p>{{ problem.problem.description }}</p>
    </div>
    <div class="problem-meta">
      {% if problem.submission %}
        <p class="solution-submitted">
          <a href="{{ problem.submission.get_absolute_url }}">
            {% trans "Solution submitted" %}
          </a>
        </p>
      {% else %}
      <div class="form">
        <form enctype="multipart/form-data"
              encoding="multipart/form-data"
              method="post"
              action="{% url submit_for_problem problem.problem.id %}"
              id="submission-form">{% csrf_token %}
          {{ form.as_p }}

          <input type="submit" value="{% trans "Submit" %}"/>
        </form>
      </div>
      {% endif %}
    </div>
  </article>
  {% endfor %}
</section>
