<header>
    <nav id="main-menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
                {% if user.participant %}
                    <li>
                        <a href="">
                            Scoreboard
                        </a>
                    </li>
                {% endif %}
                {% if user.judge %}
                    <li>
                        <a href="{{ user.judge.submissions }}">
                            Submissions
                        </a>
                    </li>
                    <li>
                        <a href="{{ user.judge.problems }}">
                            Problems
                        </a>
                    </li>
                    <li>
                        <a href="{% url judge-scoreboard %}">
                            Scoreboard
                        </a>
                    </li>
                {% endif %}
                {% if user.organizer %}

                {% endif %}
            {% endif %}
        </ul>
    </nav>
</header>

