{% extends "base.html" %}


{% block main-content %}
<table class="display" id="judge-dashboard">
  <thead>
    <tr>
      <th>Participant</th>
      {% for problem in problems %}
      <th>{{ problem }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for participant in participants %}
      <tr>
        <td>{{ participant }}</td>
        {% for problem in problems %}
        <td>{{ problem }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
